@import "tailwindcss";

@theme {
    --font-primary: "Poppins", "serif";
    --font-secondary: "Roboto", "serif";

    --color-black-spider: #040200;
    --color-white-rice: #faf5ef;
    --color-light-gray: #F5F5F5;
    --color-charcoal-gray: #2C3E50;
    --color-dark-blue: #1E2A3A;
    --color-teal: #00BFA5;
    --color-darker-teal: #009688;

    --breakpoint-*: initial;
    --breakpoint-lg: 640px;
    --breakpoint-tablet: 768px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 1280px;
    --breakpoint-3xl: 1440px;
    --breakpoint-4xl: 1536px;

    --animate-fade-right: fade-right 1s ease-in-out forwards;
    --animate-fade-left: fade-left 1s ease-in-out forwards;
    --animate-fade-up: fade-up 1s ease-in-out forwards;
    --animate-fade-down: fade-down 1s ease-in-out forwards;
    --animate-zoom-in: zoom-in 1s ease-in-out forwards;
    --animate-zoom-out: zoom-out 1s ease-in-out forwards;

    @keyframes fade-right {
      0% {
        opacity: 0;
        transform: translateX(-550px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes fade-left {
      0% {
        opacity: 0;
        transform: translateX(550px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes fade-up {
      0% {
        opacity: 0;
        transform: translateY(-550px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes fade-down {
      0% {
        opacity: 0;
        transform: translateY(550px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes zoom-in {
      0% {
        opacity: 0;
        transform: scale(0.5);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    @keyframes zoom-out {
      0% {
        opacity: 0;
        transform: scale(1);
      }
      100% {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  
  }